{% extends 'layouts/master.html.twig' %}

{% block titulo %}
Animales
{% endblock %}

{% block cabecera %}
    {{parent()}}
    <h2>{{title}}</h2>
{% endblock %}


{% block contenido %}
    {#
    <h1>{{title}}</h1>
    <h2>Tu nombre es: {{nombre}}</h2>
    <h2>Tus apellidos son: {{apellidos}}</h2>
    #}

    {# Crear variable#}

    {% set perro = 'Pastor aleman' %}
    <h4>{{perro}}</h4>

    {#Trabajar con arrays#}
    {{dump(animales)}}
    {{animales[1]}}

    {#Trabajar con arrays asociativos#}
    {{dump(aves)}}
    {{aves.tipo ~ ' - ' ~ aves.raza}}

    {% if aves.tipo == 'palomo' %}
        <h1> Cuidado un palomo volador </h1>
    {% else %}
        <h2> No hay palomos a la vista </h2>
    {% endif %}


    {# Bucle #}
    {% if animales|length >= 0 %}
        <ul>
            {% for animal in animales %}
                <li>{{animal}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for i in 0..10 %}
        {{i}}<br>
    {% endfor %}


    {% if aves.color starts with 'gr' %}
        <h1>Empieza por gr <h1>
    {% endif %}


    {% if aves.color ends with 's' %}
        <h1>Termina en s <h1>
    {% endif %}

    {# Funciones predefinidas #}
    <h1>Funciones</h1>
    <h3>MIN</h3>
    {{min([9,11,33,99,1])}}
    <br>
    <h3>RANDOM</h3>
    {{random(animales)}}
    <br>
    <h3>MAX</h3>
    {{max([9,11,33,99,1])}}
    <br>
    <h3>FOR CON SALTOS</h3>
    {% for i in range(0,100,5) %}
        {{i}}<br>
    {% endfor %}


{% endblock %}